[Desktop Entry]
Type=Application
Name=Vnc
Comment=client vnc
Icon=/usr/share/oscar/icones/vnc64.png
Exec=vncviewer
Path=
Terminal=false
StartupNotify=false

