/*
# ################################ GPL STUFF ################################
#
# ********************************* ENGLISH *********************************
# 
# --- Copyright notice :
# 
# Copyright 2003, 2004, 2005 Gérard Milhaud - Frédéric Bloise
# 
# 
# --- Statement of copying permission
# 
# This file is part of JeDDLaJ.
# 
# JeDDLaJ is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# JeDDLaJ is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with JeDDLaJ; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
# 
# *********** TRADUCTION FRANÇAISE PERSONNELLE SANS VALEUR LÉGALE ***********
#
# --- Notice de Copyright :
# 
# Copyright 2003, 2004, 2005 Gérard Milhaud - Frédéric Bloise
# 
# 
# --- Déclaration de permission de copie
# 
# Ce fichier fait partie de JeDDLaJ.
# 
# JeDDLaJ est un logiciel libre : vous pouvez le redistribuer ou le modifier
# selon les termes de la Licence Publique Générale GNU telle qu'elle est
# publiée par la Free Software Foundation ; soit la version 2 de la Licence,
# soit (à votre choix) une quelconque version ultérieure.
# 
# JeDDLaJ est distribué dans l'espoir qu'il soit utile, mais SANS AUCUNE
# GARANTIE ; sans même la garantie implicite de COMMERCIALISATION ou 
# d'ADAPTATION DANS UN BUT PARTICULIER. Voir la Licence publique Générale GNU
# pour plus de détails.
# 
# Vous devriez avoir reçu une copie de la Licence Publique Générale GNU avec 
# JeDDLaJ ; si ça n'était pas le cas, écrivez à la Free Software Foundation,
# Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
# 
# ############################ END OF GPL STUFF #############################
*/


body {  background-color: #FFFFFF ;
                 font-family: Times ;
                 margin: 10 ;
                 padding: 8 ; 
                 font-size: 12pt
                 }
p { text-indent: 12 ; text-align: justify}
ol { list-style-type: lower-alpha }
ul { list-style-type: square }
ul { list-style-image: url(Images/purpleball.gif) }
h1 { text-align: center; text-decoration: none ; background-color: white ; color:#FF862E ; font-size: 18pt;font-weight:600; text-transform: none ; padding: 6px; border: medium solid black}
h2 { text-align: left; text-decoration: none ; background-color: white ; color:rgb(50,0,255) ; font-size: 14pt; font-weight:bold; font-style: normal; text-transform: none; padding: 3px; border: thin solid black}
h3 { text-align: center; text-decoration: none ; background-color: transparent ; color:red ; font-variant: small-caps ; font-size: 12pt; font-weight:normal; font-style: italic; text-transform: none }
h4 { text-align: center; text-decoration: none ; background-color: transparent ; color:white ; font-size: 10pt; font-weight:light; text-transform: none}
h5 { text-align: center; text-decoration: none ; background-color: transparent ; color:yellow ; font-size: 10pt; font-weight:lighter; text-transform: none}
h6 { text-align: center; text-decoration: none ; background-color: transparent ; color:green font-size: 10pt; font-weight:lighter; text-transform: none}
.note { font-size: 70% ; font-style: italic ; text-indent:12 }


A:link {
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                font-family: "arial", "helvetica";
                color: rgb(0,0,100);
                text-decoration: underline;
}

A:visited {
				font-size: 14px;
                font-weight: lighter;
                font-style: normal;
                font-family: "arial", "helvetica";
                color: rgb(0,100,0);
                text-decoration: underline;
}

A:active {
				font-size: 14px;
                font-weight: 600;
                font-style: normal;
                font-family: "arial", "helvetica";
                color: rgb(255,0,0);
                text-decoration: underline;
}

A:hover {
                font-size: 14px;
                font-weight: 700;
                font-style: italic;
                font-family: "arial", "helvetica";
                color: rgb(60,150,200);
                text-decoration: underline;
}
